body{
   font-family: 'Secular One', sans-serif;
   margin: 0;
}
.span-color{
    color: orange;
}
h1{
    font-size: 30px;
}
.section{
    /* display: inline-block; */
    /* display: flex;
    display:block; */
    margin-bottom: 150px;
}
.helf-width{
    width: 40%;
    float: left;
    margin-left: 70px;
    padding-left: 5px;
    margin-left: 100px;
}
.helf-width img{
    width:70%;


}
.helf-width a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 32px ;
    border-radius: 5px;
    color: white;
    font-size: larger;
    
}
.top-banner{
    background-image: url(imags/top-banner.png);
    display: flex;
    
}
.top-container{
    display: inline-block;
    display: inline-flex;
    text-align: justify;
}
.main-h1{
    margin: 50px;
    padding: 20px;
    background-image: url(imags/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: left;
}

.box-shadow h6{
    color: orange;
}
.box-shadow{
    margin: 80px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px #aaaaaa;
    border-left: 5px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    
    
}
.footer-title{
    text-align: center;
}
#nd-color{
    border-left: 5px solid ;
    border-image: linear-gradient(red, blue) 27;
}