body{
   font-family: 'Secular One', sans-serif;
   margin: 0;
}
.span-color{
    color: orange;
}
h1{
    font-size: 30px;
}
.section{
    /* display: inline-block; */
    /* display: flex;
    display:block; */
    margin-bottom: 150px;
}
.helf-width{
    width: 40%;
    float: left;
    margin-left: 70px;
    padding-left: 5px;
    margin-left: 100px;
}
.helf-width img{
    width:70%;


}
.helf-width a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 32px ;
    border-radius: 5px;
    color: white;
    font-size: larger;
    
}
.top-banner{
    background-image: url(imags/top-banner.png);
    
    
}

.box-shadow{
    width: 400px;
    float: left;
    box-shadow: 39px;

}